name: Build and deploy ASP.NET app

on:
  push:
    branches:
      - main

  pull_request:
    branches: 
      - main

  workflow_dispatch:

env:
  DOTNET_VERSION: '10.0.x'
  AZURE_WEBAPP_NAME: 'my-webapp-101'
  AZURE_WEBAPP_PACKAGEPATH: './publish'
  
jobs:
  builds:
    runs-on:
      ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: SETUP .NET CORE
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore Dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build azure-sample.sln --configuration Release --no-restore 

      - name: Publish
        run: dotnet publish azure-sample.csproj --configuration Release --no-build --output ${{env.AZURE_WEBAPP_PACKAGEPATH}}

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: azure-sample-publish
          path: ${{env.AZURE_WEBAPP_PACKAGEPATH}}

  deploy:
    needs: builds
    runs-on: ubuntu-latest

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: azure-sample-publish
          path: ${{ env.AZURE_WEBAPP_PACKAGEPATH }}

      - name: 'Deploy to Azure WebApp'
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          package: ${{ env.AZURE_WEBAPP_PACKAGEPATH }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}

  notify:
    needs: deploy
    runs-on: ubuntu-latest

    steps:
      - name: Notify deployment success
        run: echo "Deployment to Azure Web App '${{ env.AZURE_WEBAPP_NAME }}' completed successfully."
          

      
         



    
